/* File này code những thành phần cấu hình chung */
:root {
    --primary-color: #EE4D2D;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;

    /* Đặt thêm phép tính này để sau này header hoặc navbar có thay đổi thì thằng search tự
    động tính toán chiều cao */
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    /* 'inhnerit' là kế thừa thẻ chứa nó */
    box-sizing: inherit;

}

html {
    /* Mặc định font-size nếu để 100% là 16px, nếu có thẻ nào dùng font-size là 1rem nghĩa là = 16px */
    /* Giả sử muốn font-size giá trị 12px thì có 1 cách đó là để font size = 62,5%. Nếu ta muốn 
    nó là 12px thì ghi là 1.2rem, nếu muốn 16px thì để là 1.6rem và cứ thế mà làm */
    font-size: 62.5%;
    line-height: 1.6rem;
    /* Dòng này cũng copy từ google font sau khi chọn các chủng font */
    font-family: 'Roboto', sans-serif;
    /* 'box-sizing: inherit' để cho nó kế thừa lại những thẻ chứa nó có thuộc tính box-sizing,
    vì html là thẻ to nhất nên tất cả những thăng có trong thẻ html đều kế thừa 'box-sizing: border-box' */
    box-sizing: border-box;
}

.grid {
    /* Đặt width 1200px và max-width 100% nhằm mục đích là nếu màn hình lớn hơn 1200px thì max-width tối
    đa nó chỉ là 1200px, nhưng nếu màn hình < 1200px thì max-width nó sẽ giảm kích thước màn hình
    bằng kích thước màn hình < 1200px */
    width: 1200px;
    max-width: 100%;
    /* Để căn giữa 1 khối khi nằm trong khối khác thì margin: 0 auto */
    margin: 0 auto;
}

.grid__full-width {
    /* Nếu không muốn sử dụng width: 1200px như trên thì dùng class này */
    width: 100%;
}

.grid__row {
    /* Những thẻ chứa nằm trong thẻ có class này đều nằm ngang */
    display: flex;
    /* Nếu độ dài vượt quá grid row này thì tự xuống hàng */
    flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes growth {
    from {
        transform: scale(var(--growth-from)); 
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* Thêm display: flex để dưới class 'modal__body' margin: auto ngay trọng tâm màn hình */
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    /* position: absolute nghĩa là con class 'modal' và lấy class 'modal' làm góc tọa độ chính */
    position: absolute;
    /* width: 100%, height: 100% đển nó chiếu hết chiều rộng và cao của thẻ cha của nó (modal) */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    /* Đặt hẳng biến local để dùng animation 'growth' cho class này luôn */
    /* Kiểu animation này là dạng scale từ nhỏ đến full modal */
    /* Từ kích thước 70% */
    --growth-from: 0.7;
    /* Đén kích thước 100% */
    --growth-to: 1;

    /* Note: không cần set width height vì sau này thêm nội dung vào thì tự nó set width */
    /* Căn giũa trọng tâm màng hình */
    margin: auto;
    position: relative;
    /* Để cho nó nổi lên trên lớp mờ mờ */
    z-index: 1;
    animation: growth linear 0.1s;
    
}


/* Button style */
.btn {
    min-width: 124px;
    height: 34px;
    /* Đề phòng sau này có thẻ a dùng class này nên thêm text decoration: none */
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    /* Cho nó bỏ padding mặc định cho chử nó không bị lệch giũa 1 nút */
    padding: 0 12px;
    cursor: pointer;
    color: var(--text-color);
    /* Thêm vào để căn giữa class 'btn--size-s' */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Nhìn kỹ thì cái chữ nó cao hơn nút xíu nên thêm line height */
    line-height: 1.6rem;
}

/* Thằng nào có class 'btn--normal' thì mới đổi màu khi hover */
.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn--size-s {
    height: 32px;
    padding: 0 8px;
    font-size: 12px;
}

/* Cách viết chấm liền như này là để css cho element có cả 2 class này, nếu có
3 class thì chấm liền thêm 1 cái nữa và vân vân */
.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

/* Thêm 1 class để css nút kiểu như bị vô hiệu hóa, về sau backend làm thì sẽ có những nút hiển thì cho User
biết là không nhấn vào được, sau này có element nào cần hiển thị là vô hiệu hóa thì thêm class
này vào */
.btn.btn--disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}



