/* File này css những phần riêng */

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #ff6533, #f63f2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}


/* Khi hover vào thẻ cha thì các thuộc tính Css trong đây sẽ áp dụng cho 'header__qr' (con),
phần này sẽ show .header__qr khi hover vào .header__navbar-item--has-qr */
.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fff;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);  
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

/* Header QR Code */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    /* Thẻ cha có position relative là .header__navbar-item */
    position: absolute;
    left: 0;
    /* top 100% là nó cao bằng thẻ chứa nó. Nên nó đứng sát mép dưới thăng cha chứa nó, cách top
    một khoảng bằng chiều cao thẻ chứa nó */
    /* Thêm 32% nữa để nó không dính sát vào mép dưới của hàng chữ (cha) nó */
    top: 132%;
    padding: 8px;
    border-radius: 2px;
    /* Mặc định nó ẩn cho d8e61n khi hover vào thẻ cha nó thì nó mới hiện lên */
    display: none;
    animation: fadeIn ease-in 0.3s;
    /* Cách giải thích giống class 'header__notify' */
    will-change: opacity;
}

/* Vì khi ta thêm 32% trên .header__qr nên giữa nó và thằng cha nó cách nhau 1 khoảng trống,
mà vừa rồi chúng ta vừa Css là hover vào cha thì hiện thằng con (Vì lúc nảy con còn dính vào cha)
, nhưng bây giồ nó cách nhau 1 khoảng nên khi chỉ cần con trỏ chuột di xuống tới khoảng trống đó
thì QR không còn di chuột vào được nữa, nhưng mục đích mình lại muốn vẫn di chuột từ cha xuống con, 
nên trường hợp này ta dùng 1 lớp giả để làm cầu vô hình nối giữa 2 thàng này*/
.header__qr::before {
    position: absolute;
    left: 0;
    top: -13px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
    /* Cho cái hình nó nằm gọn trong thằng cha chứa nó chứ ban đầu cái hình to hơn cha nó */
    width: 100%;
}

.header__qr-apps {
    display: flex;
    /* Cho nó đẩy 2 icon sang 2 bên */
    justify-content: space-between;
}

/* Để lấy thăng con đầu tiên thì có thẻ dùng first-child, trong trường hợp này cũng có thẻ dùng cách khác  */
/* Nếu có nhiều hơn 2 con thì phải sửa lại, không nên dùng nth-child  */
.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;

}

/* Header notifycation */
.header__notify {
    position: absolute;
    top: 132%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    /* transform-origin để xét trọng tân khi thông báo hiện lên thay vì như mặc định là nó
    chỉ hiện lên mà không có trọng tâm xuất phát, vì animation hiện thông báo của mình là kiểu zoom lên từ 1 điểm */
    /* 100% - 20px nghĩa là để sau này mà chiều rộng hay cao của khung thông báo có thay đổi thì animation nó 
    vẫn hiện đúng điểm trọn tâm đó */
    /* dùng 'calc(100% - 20px)' nghĩa là chiều rộng của thanh thông báo là 100% thì trừ bớt tầm
    20px nghĩa là điểm đó cách góc right=0 tầm 20px, và top là phía trên. Tổng hợp của 2 điều này thì
    điểm xuất phát trọng tâm là từ góc phải và từ trên xuống theo hướng xéo  */
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    /* Thêm cái này để nó tối ưu sự thay đổi của đối tượng có thuộc tính này (header__notify), Vì ta dùng 
    animation nên ở đối tượng này có 2 sự thay đổi là opacity, transform nhìn thì nó không có sự khác biệt 
    gì nhưng nên thêm nó vào */
    will-change: opacity, transform;
    display: none;
}

/* Tạo hình tam giác (mủi tên) hướng từ notify lên nút 'Thông báo'. Dùng lớp giả để làm việc này, Vửa để làm giống shopee,
vừa dùng lớp giả đó để Users di chuột từ nút thông báo d8e61n Notify (Bảng thông báo) */
.header__notify::before {
    content: "";
    /* Giá trị đầu tiên là rộng, giá trị thứ hai là cao */
    border-width: 20px 30px;
    /* Kiểu border */
    border-style: solid;
    /* Cấu trúc thằng này là 4 mãnh tam giác ghép lại thành hình vuông nên set màu theo thứ tự 
    top-right-bottom-left, vì ta cần tam giác hướng lên (bottom) nên chỉ thằng bottom cho màu, còn 
    3 hướng còn lại là màu trong suốt (vô hình) */
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 5px;
    top: -26px;
}

/* Vì lớp giả hình mũi tên bên trên không thể rộng hơn nữa vì sẽ biến dạng khác với design nên khi Users di chuột
vào vùng mà lớp giả bên trên chưa phủ được thì bảng thông báo liền mất vì nút thông báo dài hơn chiều dài lớp giả
mũi tên và giữa Nút thông báo và Notify lại có khoảng cách nên để tạo UX cho Users thì làm thêm 1 lớp giả có chiều 
dài bằng chiều dài nút thông báo và điều chỉnh sao cho để lớp giả này là cầu nối giữa Nút thông báo và Notify thì
 khi đó Users có di chuột xuống Notify như thế nào (Miễn trong giới hạn chiều dài nút thông báo) thì Notify không 
còn bị mất do khoảng trống giữa Nút thông báo (Cha) với Notify(con) nũa  */
.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: -5px;
    top: -14px;
    width: 90px;
    height: 20px;  
}

/* Animation hiện thông báo kiểu lớn dần lên */
@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        /* scale là độ phóng to/thu nhỏ, ban đầu thì cho bằng 0 để hiện từ nhỏ tới lớn*/
        transform: scale(0);
    }
    to {
        opacity: 1;
        /* Hiện full */
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);

}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    /* Không cho User copy lun, vì nó chỉ là dòng thông báo text */
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

/* HOver vào thẻ nào thì thẻ đó đổi màu */
.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 77, 45, 0.08);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
    /* Vì nó chưa chiếm hết chiều ngang nên cho width 100% */
    width: 100%;
}

.header__notify-img {
    width: 48px;
    /* Để cho ảnh không bị méo so với ban đầu (Nếu là ảnh hình chữ nhật sẽ thấy thay đổi, còn ảnh mình là ảnh vuông */
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    /* Cho nó tính chất khối để xuống hàng */
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-description {
    /* Cho nó tính chất khối để xuống hàng */
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;
}


/* Notify footer */
.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    /* padding trên dưới thì theo design, nhưng trái phải cho nó
    rộng 100% thẻ chứa nó (footer) để mở rộng vùng bấm cho Users, lúc này thì miễn trong thẻ 
    footer thì Users bấm chỗ nào cũng xem được tất cả thông báo */
    width: 100%;
    padding: 8px 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}


/* Authen Modal */
.auth-form {
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
    /* Do thăng background của class 'auth-form__socials' (con) nó chọc ra khỏi 
    class 'auth-form' (cha) nên ta không thấy border radius dưới phần social. 
    Vì vậy, muốn thấy được border radius luôn 2 góc bên dưới thì ẩn những phần 
    chọc ra khỏi class 'auth-form' (cha) */
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form {

}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

/* Cho nó 1 lớp giả 'focus' nhẩm mục đích là khi con trỏ chuột focus vào ô input nào thì
border của ô input đó nó đổi sang màu mình muốn */
.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    /* Cho cả 2 nút dich sang bên phải */
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #d8d8d8;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    /* margin cách những button trên 24px */
    margin-top: 22px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #1877f2;
}

.auth-form__socials--facebook .auth-form__socials-icon  {
    color: var(--white-color);
}

.auth-form__socials-tiile {
    margin: 0 36px;
}

.auth-form__socials--google {
    color: #666;
    background-color: var(--white-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #757575;
}

.auth-form__help-separate {
    display: block;
    height: 18px;
    margin: -4px 16px 0;
    border-left: 1px solid #a2a0a0;
}

.auth-form__help-forgot {
    /* Ghi đè màu class 'auth-form__help-link' */
    color: var(--primary-color);
}



/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    /* Cho logo nằm giữa chiều cao của class 'header-with-search' */
    display: flex;
    align-items: center;
    padding: 0 8px;

}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);

    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    /* Căn giữa thẻ con trong class 'header__cart' (logo cart) */
    text-align: center;
}

.header__cart-icon {
    font-size: 2.2rem;
    color: var(--white-color);
    margin-top: 4px;
}

.header__search-input {
    flex: 1;

    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    /* Mặc dù đã border radius vào thẻ cha nó nhưng ta thấy nó không bo góc nên ta sẽ nghĩ
    ngay là do thằng con nó bị chồi ra ngoài thẻ cha nó. Trường hợp này thường sẽ dùng 
    overflow hidden nhưng ở đây không nên dùng vì đây là ô search, sau này nó sẽ hiện những
    lịch sử tìm kiếm (con của header___search) mà nếu ta hidden thì sau này không hiện được,
    nên trường hợp này ta border radius vào chính thẻ input này luôn */
    border-radius: 3px;
    
}

.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    background-color: #f35d3f;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 120%;
    width: 130px;
    list-style: none;  
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    border-radius: 3px;
    /* Mặc định ẩn, hover vào mới hiện lên */
    display : none;
    animation: fadeIn ease-in 0.2s;
}

/* Thêm lớp giả để bắt cầu */
.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 18px;
    position: absolute;
    top: -14px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

/* Vì không over flow vào class 'header__search-option-item' do ảnh của nó làm cho lóp giả bắc cầu
 'header__search-option::after' không đặt được vị tí nên để bo góc phần option sổ xuống bằng cách
 đặt lớp giả chọn thằng option đầu và cuối trong list option để bo góc (vì trong tương lai có
 thể có nhiều option hơn khi sổ xuống */
 /* Sau này nếu có thêm các option khác giữa 2 thằng đầu và cuối thì thằng đầu và cuối vẫn không ảnh 
 hưởng gì phần bo góc */
 /* first child thì bo góc trái phải phía trên */
.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

/* last child thì bo góc trái phải phía dưới */
.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
    background-color: #f3efef;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}


